<nav class="navbar">
    <div class="logo-side">
        <img [src]="logoUrl" [width]="logoSize" alt="Logo image">
    </div>
    <div class="links-side">
        <ul>
            <li>
                <a href="">
                    <i class="bi bi-house"></i>
                    <span>მთავარი</span>
                </a>
                <a href="">
                    <i class="bi bi-mortarboard-fill"></i>
                    <span>ზოგადი განათლება</span>
                </a>
                <a href="">
                    <i class="bi bi-building"></i>
                    <span>სკოლები</span>
                </a>
                <a class="no-border" href="">
                    <i class="bi bi-briefcase-fill"></i>
                    <span>კანონმდებლობა</span>
                </a>
            </li>
        </ul>
    </div>
</nav>