<div class="cards-container">
    <div class="top-cards-row">
        <div class="card">
            <div class="card-header">
                <i style="background-color: #3786ED;" class="bi bi-mortarboard-fill"></i>
                <div class="header-text">
                    <h3>ზოგადი განათლების</h3>
                    <h1>ეროვნული მიზნები</h1>
                </div>
            </div>
            <p> საქართველოში ზოგადი განათლების სისტემა მიზნად ისახავს შექმნას ხელსაყრელი პირობები ეროვნული და
                ზოგადსაკაცობრიო ღირებულებების მატარებელი, თავისუფალი პიროვნების ჩამოყალიბებისათვის. განათლების სისტემა
                უვითარებს მოზარდს გონებრივ და ფიზიკურ უნარ-ჩვევებს, აძლევს საჭირო ცოდნას, ამკვიდრებს ჯანსაღი ცხოვრების
                წესს, მოსწავლეებს უყალიბებს ლიბერალურ და დემოკრატიულ ღირებულებებზე დამყარებულ სამოქალაქო ცნობიერებას და
                ეხმარება მათ ოჯახის, საზოგადოებისა და სახელმწიფოს წინაშე საკუთარი უფლება-მოვალეობების გაცნობიერებაში.
                (საქართველოს მთავრობის დადგენილება N84).სახელმწიფო უზრუნველყოფს თითოეული მოსწავლის (მათ შორის,
                სპეციალური საგანმანათლებლოსაჭიროების მქონე მოსწავლის) მიერ ზოგადი განათლების თავის საცხოვრებელ ადგილთან
                მაქსიმალურად ახლოს, სახელმწიფო ან მშობლიურ ენაზე მიღების უფლებას, საჯარო სკოლაში ჯანმრთელობისთვის
                უსაფრთხო გარემოს შექმნას. ზოგადი განათლების მიღება შეიძლება ექსტერნატის ფორმით.(საქართველოს კანონი
                ზოგადი განათლების შესახებ).</p>
            <a href="" class="card-button">
                <span class="hidden-button">გადასვლა</span>
                <i class="bi bi-arrow-up-right"></i>
            </a>
        </div>
        <div class="card">
            <div class="card-header">
                <i style="background-color: #6CE478;" class="bi bi-mortarboard-fill"></i>
                <div class="header-text">
                    <h3>ზოგადი განათლების</h3>
                    <h1>ეროვნული მიზნები</h1>
                </div>
            </div>
            <p> ეროვნული სასწავლო გეგმა ეფუძნება „ზოგადი განათლების ეროვნული მიზნებს“ და უზრუნველყოფს მათ მიღწევას /
                რეალიზებას და განსაზღვრავს:სწავლა-სწავლების მისიას, მიზნებსა და შინაარსობრივ პრიორიტეტებს განათლების
                სხვადასხვა საფეხურზე; სწავლა-სწავლებისა და შეფასების პრინციპებს;სასწავლო პროცესის ორგანიზებასთან
                დაკავშირებულ ცალკეულ საკითხებს.ეროვნული სასწავლო გეგმის პირველი თავი სავალდებულოა ყველა
                ზოგადსაგანმანათლებლო დაწესებულებისთვის (საჯარო,კერძო), ხოლო მეორე თავი - საჯარო სკოლებისთვის. ეროვნული
                სასწავლო გეგმის მისია, მიზნები და შინაარსობრივი პრიორიტეტები შეეხება ზოგადი განათლების სამივე საფეხურს
                (დაწყებითს, საბაზოს, საშუალოს).</p>
            <a href="" class="card-button">
                <span class="hidden-button">გადასვლა</span>
                <i class="bi bi-arrow-up-right"></i>
            </a>
        </div>
        <div class="card">
            <div class="card-header">
                <i style="background-color: #E15E4C;" class="bi bi-mortarboard-fill"></i>
                <div class="header-text">
                    <h3>ზოგადი განათლების</h3>
                    <h1>ეროვნული მიზნები</h1>
                </div>
            </div>
            <p> ზოგადსაგანმანათლებლო დაწესებულების სტატუსის მაძიებლის თვითშეფასების ფორმა</p>
            <a href="" class="card-button">
                <span class="hidden-button">გადასვლა</span>
                <i class="bi bi-arrow-up-right"></i>
            </a>
        </div>
    </div>
</div>