<section class="input-section">
    <h3>მოძებნე სკოლა</h3>
    <h1>საქართველოს მასშტაბით</h1>

    <div class="input-container">
        <h5>დეტალური ძებნა</h5>
        <p>სკოლის მოძებნა შესაძლებელია საძიებო ველისა და რუკის დახმარებით</p>
        <div class="input-row">
            <div class="search-form">
                <button class="region-button" id="region-button">
                    <span>რეგიონი</span>
                    <i class="bi bi-caret-down-fill"></i>
                </button>
                <input type="text" placeholder="მაგ.: სკოლა, რაიონი">
            </div>
            <button class="search-button">
                <i class="bi bi-search"></i>
                <span class="search-text">ძებნა</span>
            </button>
        </div>
        <div class="input-row">
            <input type="checkbox" id="terms">
            <label for="terms">
                <span>მხოლოდ საჯარო სკოლები</span>
            </label>
        </div>
    </div>

    <app-stat-cards></app-stat-cards>

</section>